<div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-8 bg-body-secondary py-5">
        <h1 class="display-5 fw-semibold text-center">404 Page Not Founded</h1>
    </div>
</div>