<div class="row">
    <h1 class="text-center display-4 fw-semibold">Types List</h1>
</div>

<div class="row mt-2 mb-2">
    <div class="col-12 col-sm-6">
        <a href="/types/create" class="btn btn-success"><i class="bi bi-plus-square"></i> Add Types</a>
    </div>
</div>

{{#if hasTypes}}
<div class="row">
    {{#each typesList}}
    <div class="col-12 col-sm-3">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <div class="mt-2">
                    <a href="/types/edit/{{this.id}}" class="btn btn-outline-primary float-end"><i class="bi bi-pencil-square"></i> </a>
                    <form method="post" action="/types/delete">
                        <input type="hidden" value="{{this.id}}" name="typeId">
                        <button type="submit" class="btn btn-outline-danger float-end me-2 delete-types"><i
                                class="bi bi-trash"></i> </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}

<div class="row d-flex justify-content-center">
    <div class="col-12 col-sm-8 py-5 alert alert-info" role="alert">
        <h2 class="display-5 fw-semibold text-center">You have not registered any types.</h2>
    </div>
</div>

{{/if}}
{{#section 'scripts'}}
    <script src="/assets/js/site/types/types.js"></script>
{{/section}}